pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-1.13.1+cu116.html
#conda install pytorch==1.13.1 torchvision==0.14.1 torchaudio==0.13.1 pytorch-cuda=11.6 -c pytorch -c nvidia
pip install torch==1.13.1 torchvision==0.14.1 torchaudio==0.13.1 -i https://pypi.tuna.tsinghua.edu.cn/simple
numpy
#pyg
#torch
#torch-cluster
torch-geometric==2.0.3
#torch-scatter
#torch-sparse
#torch-spline-conv
torchmetrics
#torchvision
tqdm 
matplotlib
tensorboard
dill
